html
{
  height: 99%;
  width:100%;
  overflow-x: hidden;
}
body
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 98%;


}
article
{
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer
{
	background-color: #f2f2f2;
	width: 100%;
}
nav
{
	margin-top: 1%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.lang, .footerbot
{
	border-top: 1px solid silver;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 1em;
}
.hum:hover
{
	text-decoration: underline;
}
.footertop, .hum
{
	color: #757575;
	text-decoration: none;
	padding-right: 1em;
	font-size: 0.9em;
}

.chance
{
	margin-top: 2%;
	display: flex;
	justify-content: space-between;
	width: 25%;
}
.rechrech:hover
{
	border: 1px solid silver;
	box-shadow: 3px 3px 0px silver;
}
.chance2:hover
{
	color: black;
	border: 1px solid #757575;
}
.chance2
{
	font-weight: bold;
	color: #757575;
	background-color: #f2f2f2; 
	font-size: 0.9em;
	text-decoration: none;
	padding: 0.5em;
	padding-right: 1.5em;
	padding-left: 1.5em;
}
.rechrech
{
	margin-top: 4%;
	outline: none;
	width: 44em;
	height: 2.5em;
	border: 1px solid silver;
	box-shadow: 1px 1px 0px silver;
}
.footerbot
{
	display: flex;
	justify-content: space-between;
}
.mailimg
{
	display: flex;
    justify-content: center;
    align-items: center;
}
.app:hover
{
	opacity: .99;
}
.app
{
	opacity: .75;
	height: 1em;
}
.Gmimages:hover
{
	opacity: .85;
	text-decoration: underline;
}
.Gmimages
{
	text-decoration: none;
	color: rgba(0,0,0,0.87);
	font-size: 0.8em;
    font-weight: bold;
    margin-right: 0.9em;
}
.conect
{
	border: 1px solid #4285f4;
	border-radius: 3px;
	background-color: #4285f4;
	padding: 0.3em;
	color: white;
	padding-right: 0.7em;
	padding-left: 0.7em;
	text-decoration: none;
}
.mailimg, .connection
{
	margin-right: 1.1em;
}
.app
{
	margin-right: 0.9em;
}